.btn, .btn.btn-default {
  background-color: #353535;
  color: #fff;
  border: none;
  text-shadow: 1px 1px 0 rgba(0,0,0,.2);
  /*
  background-image: linear-gradient(top, rgba(255,255,255,255) 0%, rgba(247,247,247,255) 51%, rgba(240,240,240,255) 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(255,255,255,255)), color-stop(0.5109697, rgba(247,247,247,255)), color-stop(1, rgba(240,240,240,255)));
  background-image: -moz-linear-gradient(top, rgba(255,255,255,255) 0%, rgba(247,247,247,255) 51%, rgba(240,240,240,255) 100%);
  background-image: -o-linear-gradient(top, rgba(255,255,255,255) 0%, rgba(247,247,247,255) 51%, rgba(240,240,240,255) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f7f7f7'endColorstr='#f0f0f0');
  */
}
.btn, .btn.btn-default:hover {
  background-color: #252525;
}
