<link rel='stylesheet' type='text/css' href='//netdna.bootstrapcdn.com/bootswatch/3.1.1/yeti/bootstrap.min.css'>
<link rel='stylesheet' type='text/css' href='/static/stylesheets/base.css'>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<script src="//ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>
<script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js'></script>
<script src="//documentcloud.github.com/underscore/underscore-min.js"></script>
<script src="//documentcloud.github.com/backbone/backbone-min.js"></script>
<script type='text/javascript' src='//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js'></script>
<script type='text/javascript' src='/static/javascripts/favorites.js'></script>
<script type='text/javascript' src='/static/javascripts/models/location.js'></script>
<script type='text/javascript' src='/static/javascripts/collections/locations.js'></script>
<script type='text/javascript' src='/static/javascripts/views/location_view.js'></script>
<script type='text/javascript' src='/static/javascripts/views/location_collection_view.js'></script>
