<html>
  <head>
    {% if title %}
      <title>{{title}} - Favorites</title>
    {% else %}
      <title>Welcome to Favorites</title>
    {% endif %}
    {% include 'head.html' %}
  </head>
  <body>
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/map">Uber Favorites</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          {% if g.user.is_authenticated() %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href='{{ url_for("edit") }}'>Edit Profile</a></li>
                <li><a href='{{ url_for("user", nickname=g.user.nickname) }}'>View Profile</a></li>
                <li class="divider"></li>
                <li><a href='{{ url_for("logout") }}'>Logout</a></li>
          {% else %}
            <li>
              <a href='/login'>Login</a>
            </li>
            <li>
              <a href='/register'>Register</a>
            </li>
          {% endif %}
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class='alert alert-info'>
          <div class='container'>
            {% for message in messages %}
              <span> {{ message }} </span>
            {% endfor %}
          </div>
        </div>
      {% endif %}
    {% endwith %}
    <div class='container'>
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
