<html>
  <head>
    {% if title %}
      <title>{{title}} - Favorites</title>
    {% else %}
      <title>Welcome to Favorites</title>
    {% endif %}
    {% include 'index_templates.html' %}
    {% include 'head.html' %}
    <link rel='Stylesheet' type='text/css' href='/static/stylesheets/index.css'>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?libraries=places&sensor=false">
    </script>
    <script type="text/javascript" src='/static/javascripts/index.js'></script>
  </head>
  <body>
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#page-nav">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Uber Favorites</a>
      </div>

      <div class="collapse navbar-collapse" id="page-nav">
        <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          {% if g.user.is_authenticated() %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href='{{ url_for("edit") }}'>Edit Profile</a></li>
                <li><a href='{{ url_for("user", nickname=g.user.nickname) }}'>View Profile</a></li>
                <li class="divider"></li>
                <li><a href='{{ url_for("logout") }}'>Logout</a></li>
          {% else %}
            <a href='/login'>Login</a>
            <a href='/register'>Register</a>
          {% endif %}
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <div class='row' id='favorites-nav'>
    <div class='favorites col-md-2'>
      <nav class="navbar text-center" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#locations-nav">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <h4 class='text-center'>My Favorites</h4>
          </div>
          <div class="collapse navbar-collapse" id="locations-nav">
            <ul class="nav navbar-nav nav-stacked" id='favorite-list'>
              <li>
                <a id='location-search' class="btn btn-default btn-sm btn-block"> Add Location </a>
              </li>
              <li class='separator'></li>
              <li class='separator'></li>
              <li class='separator'></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <div class='col-md-10'>
      <div id='map-canvas'></div>
      <input type='text' id='address-search' placeholder='Address to search' class='form-control'>
    </div>
  </div>
  <div class="modal fade" id="address-confirm-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">Confirm Address</h4>
        </div>
        <form id='location-edit-form' action='{{url_for("locations", action="create")}}' method='post'>
          {{form.hidden_tag()}}
          <div class="modal-body">
              <input type='hidden' name='location-latitude' id='loc-lat'>
              <input type='hidden' name='location-longitude' id='loc-long'>
              <div class='form-group'>
                <label for='location-name'>Name this Location:</label>
                <input type='text' id='loc-name' class='form-control' name='location-name' required>
              </div>
              <div class='form-group'>
                <label for='location-address'>Formatted Address:</label>
                <input type='text' disabled name='location-address' class='form-control' id='loc-address'>
              </div>
            </div>
            <div class="modal-footer">
              <input type="submit" class="btn btn-default" value='Save'>
              <a href='#' class="btn btn-link" data-dismiss="modal">Cancel</button>
            </div>
          </form>
      </div>
    </div>
  </div>
  </body>
</html>
